{% extends "flatpages/default.html" %}

{% block content %}
  <h1>{% if ad %}Редактировать{% else %}Создать{% endif %} объявление</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.media }} {# Включение необходимых стилей и скриптов для CKEditor5 #}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
      {% if ad %}Сохранить{% else %}Создать{% endif %}
    </button>
  </form>
  <br>
  <a href="{% url 'ads_list' %}" class="btn btn-secondary">Назад к объявлениям</a>
{% endblock %}