{% extends "flatpages/default.html" %}

{% block content %}
  <h1>Отклики на ваши объявления</h1>
  <ul>
    {% for response in responses %}
      <li>
        {{ response.content }} - {{ response.ad.title }}
        <a href="{% url 'response_accept' response.pk %}">Принять</a>
        <form action="{% url 'response_delete' response.pk %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Удалить</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}